body {
    margin: 0;
    font-family: 'Roboto', sans-serif;

}
/* Typography */
h1 {
    color: whitesmoke;
    font-size: 50px;
}

input[type="number"] {
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

span {
    font-weight: 500;
}

/* layout */
.container {
    width: 50%;
    margin: 0 auto; 
    text-align: center;
}

.section-one {
    background-image: linear-gradient(
  350deg,
  hsl(240deg 100% 20%) 0%,
  hsl(289deg 100% 21%) 11%,
  hsl(315deg 100% 27%) 22%,
  hsl(329deg 100% 36%) 33%,
  hsl(337deg 100% 43%) 44%,
  hsl(357deg 91% 59%) 56%,
  hsl(17deg 100% 59%) 67%,
  hsl(34deg 100% 53%) 78%,
  hsl(45deg 100% 50%) 89%,
  hsl(55deg 100% 50%) 100%
);
padding-top: 50px;
padding-bottom: 50px;
}

.section-two {
    padding-top: 20px;
}

#feet, #gallon, #pound{
    border-right: 2px solid magenta;
    padding-right: 10px;
}

#meter, #litre, #kilogram{
    padding-left: 10px;
    
}